<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu_open</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name">practicaIVAM101820</h1>

      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/calculadora">
              <mat-icon>calculate</mat-icon>
              <span>Calculadora</span>
          </button>
          <button mat-menu-item routerLink="/calculadora-ng">
              <mat-icon>calculate</mat-icon>
              <span>Calculadora-ng</span>
          </button>
          <button mat-menu-item routerLink="/compa">
              <mat-icon>account_box</mat-icon>
              <span>Compa</span>
          </button>
          <button mat-menu-item (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
          </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" style="height: 100vh;">
      <mat-sidenav #sidenav style="width: 200px; background-color: white;" mode="over">
          <img src="./../assets/logo-ufg.png" alt="foto-gavidiana" width="128" style="margin-left: 20px" routerLink="/"
              (click)="sidenav.toggle()">
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="calculadora" style="cursor: pointer; color: black;">
              <mat-icon>calculate</mat-icon>
              <span>Calculadora</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="calculadora-ng" style="cursor: pointer; color: black;">
              <mat-icon>calculate</mat-icon>
              <span>Calculadora-ng</span>
          </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="programacion" style="cursor: pointer; color: black;">
            <mat-icon>calculate</mat-icon>
            <span>programacion</span>
        </button>
          <mat-divider></mat-divider>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
